.nivel-con-fondo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;
}

.imagen-incendio,
.imagen-bosque {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.15) contrast(1.1);
  z-index: 0;
}

.imagen-incendio {
  left: 0;
}

.imagen-bosque {
  right: 0;
}

.contenido-nivel {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

@media screen and (max-width: 768px) {
  .contenido-nivel {
    padding: 1rem;
    font-size: 14px;
    text-align: center;
  }

  h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.4;
  }

  button {
    position: sticky;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .nivel-con-fondo {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-size: cover;
    margin-top: auto;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
